<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="XRC.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <XRC.My.MySettings>
            <setting name="regkeymonth" serializeAs="String">
                <value/>
            </setting>
            <setting name="regkey" serializeAs="String">
                <value/>
            </setting>
            <setting name="expiredate" serializeAs="String">
                <value/>
            </setting>
            <setting name="newpc" serializeAs="String">
                <value/>
            </setting>
            <setting name="Lifetimepack" serializeAs="String">
                <value/>
            </setting>
        </XRC.My.MySettings>
    </userSettings>
</configuration>
